#container {
	position:relative;
	margin: 0 auto;
	height: auto;
    max-width: 1000px;
	color:white;
}

h1 {
	margin-left: 33%;
	font-size: 50px;
	text-transform: uppercase;
	background: linear-gradient(45deg, #0B2349 33%, #0D61BC 66%, #8AA9D6);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #0B2349;
	display: table;
	margin: 20px auto;
}

button{
	background: #DC143C;
	font-size:30px;
	width:120px;
	color:inherit;
	outline:none;
	border: 0;
    padding: 0;
	margin:15px 42% ;	
}

button:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#idiom {
	background: #DC143C;
	color:white;
	text-align: center;
	font-size:40px;
    margin: 10px;
	padding:15px 50px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}




#first, #second, #third {
	background: #7FFFD4;
	height:60px;	
	font-size:30px;
	color: white;
	margin: 10px;
	padding:15px 50px;	
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}	


#first:hover, #second:hover, #third:hover {
	color: #808000;
	
}	
	
#f, #s, #t {
	position: absolute;
	left: 870px;
	background: transparent;	
	width: auto;
	height:auto;
	font-size:30px;	
}
#f{	
	top: 181px;
}

#s{
	top: 280px;
}
#t{
	top: 380px;
}*/

#result {
	color:black;
	font-size:30px;
	margin: 10px;
	text-transform: uppercase;
	background: linear-gradient(45deg, #0B2349 33%, #0D61BC 66%, #8AA9D6);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #0B2349;
	display: table;
	margin: 20px auto;
}
